@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

.buttonWrapper {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    top: 20px;
    box-sizing: border-box;
    >div {
        margin: 0 auto 0;
        width: fit-content;
        box-sizing: border-box;
        button {
            box-sizing: border-box;
            height: 40px;
            font-size: toRem(20);
            border: none;
            background-color: #673ab7;
            border-radius: toRem(10);
            padding: toRem(5) toRem(30) 0;
            cursor: pointer;
            transition: 0.2s;
    
            svg {
                width: toRem(30);
                height: toRem(25);
                path {
                    stroke: white;
                }
            }
    
            &:hover {
                background-color: white;
                svg {
                    path {
                        stroke: #673ab7;
                    }
                }
                
            }
        }
    }
}

@media(max-width: 750px) {
    .buttonWrapper {
        button {
            height: 30px;
            svg {
                width: toRem(25);
                height: toRem(20);
            }
        }
    }
}

@media(max-width: 380px) {
    .buttonWrapper {
        button {
            svg {
                width: toRem(20);
                height: toRem(20);
            }
        }
    }
}