@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Noto+Sans+KR&display=swap');

@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

body {
    background-color: #eeeeee;
    overflow-y: hidden;
}

.buttonWrapper {
    position: relative;
    top: toRem(10);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
        font-family: 'Jua', 'sans-serif';
        font-size: toRem(20);
        border: none;
        background-color: #673ab7;
        
        border-radius: toRem(10);
        padding: toRem(5) toRem(30) 0;
        cursor: pointer;
        transition: 0.2s;

        svg {
            width: toRem(30);
            height: toRem(25);
            path {
                stroke: white;
            }
        }

        &:hover {
            background-color: white;
            svg {
                path {
                    stroke: #673ab7;
                }
            }
            
        }
    }
}

.detail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    transition: transform 1s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow-y: scroll;

    .detailHeader {
        text-align: center;
        position: relative;
        margin-top: 30px;
        font-family: 'Jua', 'sans-serif';
        margin-bottom: 10px;
        h1, h3 {
            font-weight:normal;
            margin: 0;
            padding: 0;
        }
        h1 {
            color: #673ab7;
        }
        @media (max-width: 800px) {
            h1 {
                font-size: toRem(25);
            }
            h3 {
                font-size: toRem(15);
            }
        }
    }
    .flex_box {
        display: flex;
        justify-content: space-between;
        
        .detailContent {
            position: relative;
            width: fit-content;
            display: flex;
            font-family: 'Jua', 'sans-serif';
            margin-bottom: 30px;
        }
    }
}


#moveUpward {
    transform: translateY(-100%);
}
