@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Noto+Sans+KR&display=swap');

@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

body {
    background-color: #eeeeee;
    overflow-y: hidden;
}

.buttonWrapper {
    position: relative;
    top: toRem(10);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
        font-family: 'Jua', 'sans-serif';
        font-size: toRem(20);
        border: none;
        background-color: #673ab7;
        
        border-radius: toRem(10);
        padding: toRem(5) toRem(30) 0;
        cursor: pointer;
        transition: 0.2s;

        svg {
            width: toRem(30);
            height: toRem(25);
            path {
                stroke: white;
            }
        }

        &:hover {
            background-color: white;
            svg {
                path {
                    stroke: #673ab7;
                }
            }
            
        }
    }
}

.detail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    transition: transform 1s ease-in-out;

    .detailHeader {
        text-align: center;
        position: relative;
        margin-top: 30px;
        font-family: 'Jua', 'sans-serif';
        margin-bottom: 10px;
        h1, h3 {
            font-weight:normal;
            margin: 0;
            padding: 0;
        }
    }

    .detailContent {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        font-family: 'Jua', 'sans-serif';
        
        .statContainer {
            position: relative;
            max-width: 1000px;
            white-space: nowrap; /***/
            overflow-x: scroll;
            margin-right: 30px;
            background-color: white;
            border: 2px solid #cfcfcf;
            border-radius: 10px;
            ul {
                position: relative;
                list-style-type: none;                
                margin: 0;
                padding: 0;
                li {
                    
                    width: fit-content;
                    display: inline-block;
            
                    .cand {
                        width: toRem(90);
                        .candStatBarArea {
                            position: relative;
                            height: 600px;
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: flex-end;
                            margin-bottom: 10px;
                            .statBar {
                                position: relative;
                                border: 2px solid black;
                                bottom: 0;
                                width: 70%;
                                transition: height 1s;
                            }
                        }
                        .candName {
                            text-align: center;
                        }
                    }
                }
            }
            
        }
    }
}


#moveUpward {
    transform: translateY(-100%);
}