@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Noto+Sans+KR&display=swap');

@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

@keyframes hideYearSelectArea {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes floatUp {
    0% {
        top: toRem(60);
        opacity: 0;
    }

    100% {
        top: toRem(40);
        opacity: 1;
    }
}

$headerHeight: 60;
$upwardHeight: 730;
body {
    background-color: #eeeeee;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

section, .rank, .name, .rate, .party {
    font-family: 'Do Hyeon', sans-serif;
}



h2, h3, p {
    margin: 0;
    padding: 0;
}


#visible {
    display: block;
}

#invisible {
   animation: hideYearSelectArea;
   animation-delay: 2s;
   animation-fill-mode: forwards;   
}

.container > .pad {
    >div {
        height: 40px;
    }
}

.container > .pad, .noExistence {
    position: relative;
    margin-bottom: 20px;
}

.frame {
    position: absolute;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    overflow-x: scroll;
}

.container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    
    overflow-y: scroll;    
    //flex
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    section {
        position: relative;
        text-align: center;
        top: 50px;
        margin-bottom: toRem(20);
        color: #424242;
        h2 {
            font-size: toRem(45);
        }
        span {
            color: #673ab7;
        }
    }

    .noExistence {
        position: relative;
        text-align: center;
        color: black;
        font-family: 'Do Hyeon', sans-serif;
        font-weight: normal;
        bottom: 30px;
    }

    .wrapper {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: fit-content;
        position: relative;
        margin-top: 40px;
    }


    h2 {
        font-family: 'Do Hyeon', sans-serif;
        font-size: toRem(35);
    }

    h3 {
        margin-top: toRem(10);
        font-family: 'Jua', sans-serif;
        font-size: toRem(30);
        color:  #673ab7;
    }

    #map {
        order: 2;
    }

    #map_mobile {
        order: 1;
    }
}

.container {
    transition: transform 1s ease-in-out;
}

#moveUpward {
    transform: translateY(-100%);
}


@media (max-width: 1100px) {
    .frame {
        .container {
            section {
                h2 {
                    font-size: toRem(40);
                    @media (max-height: 650px) {
                        font-size: toRem(35);
                    }
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .frame {
        .container {
            section {
                h2 {
                    font-size: toRem(35);
                }
            }
        }
    }
}

@media (max-width: 750px) {
    .container > .pad, .noExistence {
        height: 30px;
        button {
            svg {
                width: toRem(25);
                height: toRem(20);
            }
        }
    }   
    .container {
        .noExistence {
            font-size: toRem(30);
        }
    }
}

@media(max-width: 650px) {
    .container {
        .noExistence {
            font-size: toRem(20);
        }
    }
}

@media (max-width: 500px) {
    .container {
        .noExistence {
            font-size: toRem(17);
        }
    }
}

@media (max-width: 380px) {
    .frame {
        .container > .pad, .noExistence {
            height: toRem(30);
            button {
                svg {
                    width: toRem(20);
                    height: toRem(20);
                }
            }
        }
        .container {
            section {
                h2 {
                    font-size: toRem(27);
                }
            }
        }
    }
}

