@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Noto+Sans+KR&display=swap');

@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}

@keyframes floatUp {
    0% {
        margin-top: toRem(60);
        opacity: 0;
    }

    100% {
        margin-top: toRem(40);
        opacity: 1;
    }
}

@keyframes electAni {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.rank, .name, .party {
    font-family: 'Do Hyeon', sans-serif;
}

.candidate {
    position: relative;
    width: 230px;
    height: fit-content;
    border: 2px solid #cfcfcf;
    border-radius: 20px;
    padding: toRem(25);
    background-color: white;
    animation: floatUp 1s forwards;
    z-index: 1;

    >div {
        width: fit-content;
        margin: 0 auto 0;
        position: relative;
    }
    .rank {
        position: relative;
        bottom: toRem(10);
        font-size: toRem(30);
        margin-bottom: toRem(10);
    }

    .name {
        padding: toRem(5);
        font-size: toRem(28);
    }

    .rate {
        position: relative;
        top: toRem(5);
        font-size: toRem(35);
        font-family: 'Jua', sans-serif;
    }

    .party {
        font-size: toRem(20);
    }

    picture {
        width: 100%;
        display: block;
        img {
            width: 100%;
        }
    }

    
}

#first {
    order: 1;
    left: 40px;
}

#second {
    order: 3;
    right: 40px;
}

#elected {
    order: 1;
    left: 40px;
    background: rgb(249,248,113);
    background: linear-gradient(90deg, rgba(249,248,113,1) 0%, rgba(255,178,119,1) 50%, rgba(255,255,255,1) 100%);
    background-size: 400% 400%;
    animation: floatUp 1s forwards, electAni 4s alternate infinite;
}

@media (max-width: 1100px) {
    .candidate {
        width: 180px;
        @media (max-height: 750px) {
            width: 130px;
            .rank {
                font-size: toRem(22);
            }
            .name {
                font-size: toRem(25);
            }
            .rate {
                font-size: toRem(27);
            }
            .party {
                font-size: toRem(17);
            }
        }
        @media (max-height: 650px) {
            width: 110px;
            .rank {
                font-size: toRem(20);
                margin-bottom: 3px;
            }
            .name {
                font-size: toRem(25);
            }
            .rate {
                font-size: toRem(27);
            }
            .party {
                font-size: toRem(15);
            }
        }
        
    }
}

@media (max-width: 950px) {
    .candidate {
        width: 150px;
        .rank {
            bottom: toRem(10);
            font-size: toRem(25);
            margin-bottom: toRem(10);
        }
    
        .name {
            padding: toRem(5);
            font-size: toRem(23);
        }
    
        .rate {  
            top: toRem(5);
            font-size: toRem(30);
        }
    
        .party {
            font-size: toRem(18);
        }
    }
}

@media (max-width: 750px) {
    .candidate {
        width: 100px;
        padding: toRem(20);
        .rank {
            bottom: toRem(5);
            font-size: toRem(20);
            margin-bottom: toRem(0);
        }
    
        .name {
            padding: toRem(5);
            font-size: toRem(18);
        }
    
        .rate {
            top: toRem(5);
            font-size: toRem(25);
        }
    
        .party {
            font-size: toRem(13);
        }
    }
}



//mobile

.mobile_rank, .mobile_name, .mobile_party {
    font-family: 'Do Hyeon', sans-serif;
}

.mobile_candidate {
    position: relative;
    width: 80%;
    height: fit-content;
    margin: 0 auto 0;
    border: 2px solid #cfcfcf;
    border-radius: 20px;
    padding: toRem(10) toRem(25);
    background-color: white;
    animation: floatUp 1s forwards;
    z-index: 1;

    .mobile_rank {
        position: relative;
        font-size: toRem(30);
        text-align: center;
        margin-bottom: 15px;
    }

    .mobile_candContent {
        position: relative;
        height: toRem(80);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        >div {
            width: toRem(100);
        }
        .mobile_name {
            padding: toRem(5);
            font-size: toRem(28);
            text-align: center;
        }
    
        .mobile_rate {
            position: relative;
            top: toRem(5);
            font-size: toRem(35);
            font-family: 'Jua', sans-serif;
            width: 200px;
            text-align: center;
        }
    
        .mobile_party {
            font-size: toRem(20);
            text-align: center;
        }
        picture {
            height: 100%;
            img {
                height: 100%;
            }
        }
        .mobile_infoContainer {
            position: relative;
            width: fit-content;
            margin: initial;
        }
        
    }
    
}

#mobile_first {
    order: 2;
}

#mobile_second {
    order: 3;
}

#mobile_elected {
    order: 2;
    background: rgb(249,248,113);
    background: linear-gradient(90deg, rgba(249,248,113,1) 0%, rgba(255,178,119,1) 50%, rgba(255,255,255,1) 100%);
    background-size: 400% 400%;
    animation: floatUp 1s forwards, electAni 4s alternate infinite;
}

@media (max-width: 450px) {
    .mobile_candidate {
        .mobile_rank {
            position: relative;
            font-size: toRem(20);
            text-align: center;
        }
    
        .mobile_candContent {
            height: 60px;
            .mobile_name {
                padding: toRem(5);
                font-size: toRem(20);
                text-align: center;
            }
        
            .mobile_rate {
                top: toRem(5);
                font-size: toRem(20);
                width: 100px;
            }
        
            .mobile_party {
                font-size: toRem(15);
                text-align: center;
            }
            
        }
        
    }
}

@media (max-width: 300px) {
    .mobile_candidate {
        padding: toRem(10) toRem(15);
        .mobile_rank {
            font-size: toRem(15);
        }
    
        .mobile_candContent {
            height: 60px;
            .mobile_name {
                padding: toRem(5);
                font-size: toRem(15);
                text-align: center;
            }
        
            .mobile_rate {
                top: toRem(5);
                font-size: toRem(20);
                width: 80px;
            }
        
            .mobile_party {
                font-size: toRem(10);
                text-align: center;
            }
            
        }
        
    }
}