#MoonNine {
    background: rgb(0,140,255);
    background: linear-gradient(90deg, rgba(0,140,255,1) 0%, rgba(255,255,255,1) 100%);
    background-size: 400% 400%;
}

#HongNine {
    background: rgb(170,0,0);
    background: linear-gradient(90deg, rgba(170,0,0,1) 0%, rgba(255,255,255,1) 100%);
    background-size: 400% 400%;
}

#AhnNine {
    background: rgb(2,114,47);
    background: linear-gradient(90deg, rgba(2,114,47,1) 0%, rgba(255,255,255,1) 100%);
    background-size: 400% 400%;
}

#YooNine {
    background: rgb(0,186,236);
    background: linear-gradient(90deg, rgba(0,186,236,1) 0%, rgba(255,255,255,1) 100%);
    background-size: 400% 400%;
}

#SimNine {
    background: rgb(255,249,0);
    background: linear-gradient(90deg, rgba(255,249,0,1) 0%, rgba(255,255,255,1) 100%);
    background-size: 400% 400%;
}