#MoonNine {
    background: rgb(0,140,255);
    background: linear-gradient(90deg, rgba(0,140,255,1) 0%, rgba(255,255,255,1) 100%);
    background-size: 400% 400%;
}

#HongNine {
    background: rgb(170,0,0);
    background: linear-gradient(90deg, rgba(170,0,0,1) 0%, rgba(255,255,255,1) 100%);
    background-size: 400% 400%;
}

#AhnNine {
    background: rgb(2,114,47);
    background: linear-gradient(90deg, rgba(2,114,47,1) 0%, rgba(255,255,255,1) 100%);
    background-size: 400% 400%;
}

#YooNine {
    background: rgb(0,186,236);
    background: linear-gradient(90deg, rgba(0,186,236,1) 0%, rgba(255,255,255,1) 100%);
    background-size: 400% 400%;
}

#SimNine {
    background: rgb(255,249,0);
    background: linear-gradient(90deg, rgba(255,249,0,1) 0%, rgba(255,255,255,1) 100%);
    background-size: 400% 400%;
}

#ParkEight {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(97,34,30,1) 35%, rgba(132,53,72,1) 100%);
    background-size: 400% 400%;
}

#MoonEight {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(64,113,61,1) 35%, rgba(115,165,109,1) 100%);
    background-size: 400% 400%;

}

#MBSeven {
    background: rgb(217,243,255);
    background: linear-gradient(90deg, rgba(217,243,255,1) 0%, rgba(50,125,186,1) 35%, rgba(0,159,205,1) 100%);
    background-size: 400% 400%;
}

#DYSeven {
    background: rgb(255,236,203);
    background: linear-gradient(90deg, rgba(255,236,203,1) 0%, rgba(209,158,83,1) 35%, rgba(151,107,33,1) 100%);
    background-size: 400% 400%;
}

#HCSeven {
    background: rgb(172,170,188);
    background: linear-gradient(90deg, rgba(172,170,188,1) 0%, rgba(145,145,145,1) 35%, rgba(95,95,95,1) 100%);
    background-size: 400% 400%;
}

#HCSix {
    background: rgb(190,207,255);
    background: linear-gradient(90deg, rgba(190,207,255,1) 0%, rgba(114,133,203,1) 33%, rgba(59,84,148,1) 100%);
    background-size: 400% 400%;
}

#MHSix {
    background: rgb(255,236,204);
    background: linear-gradient(90deg, rgba(255,236,204,1) 0%, rgba(236,173,81,1) 33%, rgba(160,126,82,1) 100%);
    background-size: 400% 400%;
}

#DJFive {
    background: rgb(46,152,53);
    background: linear-gradient(90deg, rgba(46,152,53,1) 0%, rgba(54,92,65,1) 100%);
    background-size: 400% 400%;
}

#HCFive {
    background: rgb(117,165,232);
    background: linear-gradient(90deg, rgba(117,165,232,1) 0%, rgba(56,58,113,1) 100%);
    background-size: 400% 400%;
}

#IJFive {
    background: rgb(30,140,161);
    background: linear-gradient(90deg, rgba(30,140,161,1) 0%, rgba(98,173,188,1) 100%);
    background-size: 400% 400%;
}

#YSFour {
    background: rgb(33,76,165);
    background: linear-gradient(90deg, rgba(33,76,165,1) 0%, rgba(112,136,195,1) 100%);
    background-size: 400% 400%;
}

#JYFour {
    background: rgb(60,164,118);
    background: linear-gradient(90deg, rgba(60,164,118,1) 0%, rgba(117,156,126,1) 100%);
    background-size: 400% 400%;
}

#DJFour {
    background: rgb(139,180,53);
    background: linear-gradient(90deg, rgba(139,180,53,1) 0%, rgba(235,245,207,1) 100%);
    background-size: 400% 400%;
}

#TWThree {
    background: rgb(23,138,231);
    background: linear-gradient(90deg, rgba(23,138,231,1) 0%, rgba(50,74,118,1) 100%);
    background-size: 400% 400%;
}

#YSThree {
    background: rgb(205,25,40);
    background: linear-gradient(90deg, rgba(205,25,40,1) 0%, rgba(233,236,237,1) 100%);
    background-size: 400% 400%;
}

#DJThree {
    background: rgb(233,158,31);
    background: linear-gradient(90deg, rgba(233,158,31,1) 0%, rgba(165,155,155,1) 100%);
    background-size: 400% 400%;
}

#JPThree {
    background: rgb(138,104,98);
    background: linear-gradient(90deg, rgba(138,104,98,1) 0%, rgba(54,47,52,1) 100%);
    background-size: 400% 400%;
}